<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? " https://ssl ." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + " google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); 
</script>
<script type="text/javascript">
try{
  var pageTracker = _gat._getTracker("UA-xxxxx-x");
  {% if status_code %}
  pageTracker._trackPageview("/{{ status_code }}.html?page=" + document.location.pathname + document.location.search + "&from=" + document.referrer);
  {% else %}
  pageTracker._trackPageview();
  {% endif %}
} catch(err) {}
</script>
